@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@page {
  size: 210mm 297mm;
  margin: 0 0 0 0;
}

body {
  color: #222;
  background: #27454a;
  //background: #27454a;
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  -webkit-print-color-adjust: exact;
  font-size: 10.5pt;

  @media screen {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
  }
}

#root {
  @media screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 2rem 0;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

ul {
  margin: 0;
  padding: 0 0 0 15px;

  li {
    list-style: square;
  }
}

a {
  color: #666;
  text-decoration: none;
  position: relative;
  transition: 0.2s all;

  &:hover {
    color: #222222;

    &::after {
      background-position-x: 0;
    }
  }

  @media screen, print {
    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: -3px;
      height: 2px;
      background-image: linear-gradient(90deg, #396ed6 0%, #2caec6 25%, #2dcce0 75%, #2dcce0 100%);
      background-size: 300%;
      background-position-x: 75%;
      transition: 0.2s all;
    }
  }
}